#first-box{
    width: 120px;
    margin-bottom: 10px;
}
#second-box{
    width: 120px;
    padding: 5px;
    margin-bottom: 10px;
    
}
#card{
    display: block;
    background-color: aqua;
    width: 180px;
    border-radius: 33px;
    border: 2px solid grey;
    height: fit-content;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button{
    padding: 5px;
    color: green;
    background-color: antiquewhite;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    color: red;
}
img{
    margin-top: 10px;
    width: 84px;
    height: 69px;
    border-radius: 54px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}